
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

@*Header*@
@Html.Partial("~/Views/Header/Header.cshtml")

<div id="wrapper">
    <!-- Meniu -->
    @Html.Partial("~/Views/Menu/Menu.cshtml")

    <!--Content -->
    @Html.Partial("~/Views/Content/General.cshtml")
    @Html.Partial("~/Views/Content/Rooms.cshtml")
    @Html.Partial("~/Views/Content/Statistics.cshtml")
    @Html.Partial("~/Views/Content/RoomTypes.cshtml")

</div>
