<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom styles for this template -->
    <link href="~/FrontEnd/css/scrolling-nav.css" rel="stylesheet">
    <link href="~/Content/acasa.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="page-top">


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Footer -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <!-- Footer Elements -->
        <div class="container">
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <button class="btn btn-primary login-button">
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-white" })
                    </button>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3 text-white">
            © 2019 Copyright:
            <a href="#" class="text-warning">PentaStar</a>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="~/FrontEnd/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/FrontEnd/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/FrontEnd/js/scrolling-nav.js"></script>


</body>
</html>

@*Old Menu

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        @Html.ActionLink("PentaStar", "Index", "Acasa", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Acasa", "Index", "Acasa", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Rezervari", "Index", "Rezervari", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Facilitati", "Index", "Facilitati", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Galerie Foto", "Index", "GalerieFoto", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>*@