@model PentaStarLicenta.DAL.Models.AccomodationRequest
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="row container-fluid">
        @*Prima coloana*@
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Client.FirstName)
                @Html.TextBoxFor(m => m.Client.FirstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Client.SecondName)
                @Html.TextBoxFor(m => m.Client.SecondName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Client.Cnp)
                @Html.TextBoxFor(m => m.Client.Cnp, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Client.IdentityCard)
                @Html.TextBoxFor(m => m.Client.IdentityCard, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Client.Email)
                @Html.TextBoxFor(m => m.Client.Email, new { @class = "form-control" })
            </div>

        </div>
        @*A doua coloana*@
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.OccupationDate)
                @Html.TextBoxFor(m => m.OccupationDate, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ReleaseDate)
                @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Client.Phone)
                @Html.TextBoxFor(m => m.Client.Phone, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Client.Nationality)
                @Html.TextBoxFor(m => m.Client.Nationality, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RoomType)
                @Html.DropDownListFor(m => m.RoomType.Type, new SelectList(Model.RoomType.Types, "RoomTypeId","Type"), "", new { @class = "form-control"})
            </div>
        </div>
    </div>
 
</form>